<div class="container vert fade-in one">
<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default">
  			<div class="panel-body">
  				<div class="hover08">
	  				<figure>
						<img src="/NY_GCS.jpg" alt="Grand Central Station" />
						<span class="text-content"><span>New York City</span></span>
					</figure>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-default">
  			<div class="panel-body">
  				<div class="hover08">
	  				<figure>
						<img src="/SF_Bridge.jpg" alt="Golden Gate Bridge" />
						<span class="text-content"><span>San Francisco</span></span>
					</figure>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-default">
  			<div class="panel-body">
				<h1>United States of America</h1>
				<p>by angus</p>
			</div>
		</div>
	</div>
</div>
</div>
